@import "tailwindcss";

:root {
  --background: #bffcf9;
  --foreground: #000000;
  --primary: #00c9c8;
  --secondary: #47817f;
  --card-bg: #ffffff;
  --border: #47817f20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}